*
!.gitconfig
!.gitignore
!.gitmodules
!.tmux.conf

!.local
.local/*
!.local/bin
!.local/bin/*

!.config/
/.config/*
!.config/fzf
!.config/fzf/*
!.config/vim
!.config/vim/*
!.config/git
!.config/git/*
!.config/rc.git
!.config/rc.git/*
!.config/rc.git/hooks/*
